<script src="https://datastorm-open.github.io/visNetwork/libs/jquery/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://datastorm-open.github.io/visNetwork/libs/bootstrap/css/cosmo.min.css" rel="stylesheet">
<script src="https://datastorm-open.github.io/visNetwork/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/bootstrap/shim/html5shiv.min.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/bootstrap/shim/respond.min.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/navigation/tabsets.js"></script>
<link href="https://datastorm-open.github.io/visNetwork/libs/highlightjs/default.css" rel="stylesheet">
<!-- <script src="https://datastorm-open.github.io/visNetwork/libs/highlightjs/highlight.js"></script> -->
<script src="https://datastorm-open.github.io/visNetwork/libs/htmlwidgets/htmlwidgets.js"></script>
<link href="https://datastorm-open.github.io/visNetwork/libs/vis/vis.css" rel="stylesheet">
<script src="https://datastorm-open.github.io/visNetwork/libs/vis/vis.min.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/visNetwork-binding/visNetwork.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/FileSaver/FileSaver.min.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/Blob/Blob.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/canvas-toBlob/canvas-toBlob.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/html2canvas/html2canvas.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/jspdf/jspdf.debug.js"></script>
<link href="https://datastorm-open.github.io/visNetwork/libs/jquery-sparkline/jquery.sparkline.css" rel="stylesheet">
<script src="https://datastorm-open.github.io/visNetwork/libs/jquery-sparkline/jquery.sparkline.js"></script>
<script src="https://datastorm-open.github.io/visNetwork/libs/sparkline-binding/sparkline.js"></script>